@font-face
{

font-family: Reckoner;

src:url(fonts/Reckoner.ttf);

}


Body
{
	background-color:#424242;	
	font-family: 'Francois One', sans-serif;
	color:white;
	margin:0;
}

header
{
	text-align:center;
}

nav
{
	background-color: #313131;
	text-align: center;
}

main
{
	text-align:center;
	margin:auto;
}

footer
{
	text-align:center;
	text-transform:uppercase;
	background-color: #313131;
	width:100%;
	height:20px;
	padding:20px;
	position:fixed;
	bottom:0;
}


#logo
{
	border: 1px solid black; 
	padding:10px;
	font-family:Reckoner;
}

.navigation
{
	list-style-type:none;
	margin:0;
	padding: 10px;
	font-size:18px;
	text-transform:uppercase;
	min-height: 40px;
	line-height:200%;
}

.navigation>li
{
	display: inline-block;
	padding-left:20px;
	padding-right: 20px;
	border-right: 1px dashed lightgray;
}

.navigation> li:first-child
{
		border-left: 1px dashed lightgray;
}

.navigation>li:hover
{
	background-color: #888888;
	font-size:20px;
}

.navigation a
{
	color:#fff;
	text-decoration:none;
}

#container
{
	height:100px; 
	align:center;
	margin:auto;
	font-size:20px;
	padding:30px;
}

#table
{
	border: 1px solid black;
	border-collapse:0px;
	align:center;
	margin:auto;
}

.table_column
{
	padding:3px;
}

.table_row
{
	text-align:center;
	font-size:14px;
	color:black;
}

#form
{
	height:250px;
	padding:20px;
	bottom:60px;	
	align:center;
	margin:auto;
}

.form_field
{
	text-align:left;
	height:15px;
	padding:5px;
	background-color:#dddddd;
	margin: 5px 10px;
	font-weight:700;
}

.form_field_disabled
{
	text-align:left;
	height:15px;
	padding:5px;
	background-color:#aaaaaa;
	margin: 5px 10px;
	font-weight:700;
}

.form_error_com
{
	color: #FF6347;
	margin-top:5px;
}

.form_success
{
	color: #ADFF2F;
	margin-top:5px;
}

.form_button
{
	border: 2px solid white;
	background-color:gray;
	font-weight:700;
	padding:5px;
	width:500px;	
	margin-top:20px;
}


.form_button:hover
{
	background-color:lightgray;
}

#user_select
{
	height:1;
}

#worker_select
{
	display: block;
}

.selector
{
	height:1;
	padding:5px;
	font-weight:700;
	margin-left:10px;
	margin-right:10px;
	background-color:#dddddd;
}

.form_row
{
	padding:5px;
}

.mode_select
{
	display: inline-block;
}

#errors_panel
{
	padding:10px;
	margin-top:10px;
}
#Add_form
{
	display: none;
}

#Update_form
{
	display: none;
}

#Delete_form
{
	display: none;
}

#Password_form
{
	display: none;
}

#modul_select_form
{
	padding:20px;
}
