@font-face
{
font-family: Reckoner;
src:url(fonts/Reckoner.ttf);
}

Body
{
	background-color:#424242;	
	/* Background pattern from Toptal Subtle Patterns */
	background-image: url("img/prism.png");
	font-family: 'Lato', sans-serif;
	color:white;
	text-align:center;
	margin:0px;
}

nav
{
	background-color: #313131;
	border:2px black solid;
	text-transform:uppercase;
}


footer
{
	text-align:center;
	text-transform:uppercase;
	background-color: #313131;
	width:100%;
	height:20px;
	padding:20px;
	position:fixed;
	bottom:0;
}

input[type=submit]:hover
{
	cursor:pointer;
}

input{
	border-radius:3px;
	font-weight:bold;
	outline:none;
}

input:focus{
	-webkit-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	border: 2px solid 	#990000;
	background-color:	#F5F5DC;
	
}

select{
	border-radius:3px;
	font-weight:bold;
	outline:none;
}

select:focus{
	-webkit-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	border: 2px solid 	#990000;	
}

#form_login{
	border:2px solid black;
	border-radius:10px;
	background-color: #313131;
	padding:20px;
	width:250px;
	align:center;
	margin-left:auto;
	margin-right:auto;
	font-size:18px;
	-webkit-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
}


#logo
{
	src:url(fonts/Reckoner.ttf);
	font-family:Reckoner;
	background-color:#424242;
	margin:0px;
	padding:10px;
}
.navigation{
	margin:0px;
}

.navigation>li
{
	list-style-type:none;
	/*text-transform:uppercase;*/
	line-height:200%;
	display: inline-block;
	padding-left:10px;
	padding-right: 10px;
/* 	padding-top:5px;
	padding-bottom:5px; */
	font-size:18px;
	font-weight:700;
	/*border-left: 2px dotted black;
	border-right: 2px dotted black;
	border-radius:5px;*/
	line-height:250%;
}

.navigation> li:first-child
{
	/*border-left: 2px dotted black;
	border-radius:5px;*/
}

.navigation>li:hover
{
	background-color: #888888;
	border-color:white;
}

.navigation a
{
	color:#fff;
	text-decoration:none;
	display:block;
	height:45px;
}

#container
{
	height:100%; 
	align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:50px;
	font-size:20px;
	padding:30px;
}

#table
{
	border: 1px solid black;
	border-collapse:0px;
	align:center;
	margin-left:auto;
	margin-right:auto;
	-webkit-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	-moz-box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
	box-shadow: 0px 0px 61px -9px rgba(0,0,0,1);
}

.table_column
{
	padding:3px;
	max-width:250px;
}

.table_row
{
	text-align:center;
	font-size:14px;
	color:black;
}

#form
{
	height:250px;
	padding:20px;
	bottom:60px;	
	align:center;
	margin:auto;
}

.form_field
{
	text-align:left;
	height:15px;
	padding:5px;
	background-color:#dddddd;
	margin: 5px 10px;
	font-weight:700;
}

.form_field_disabled
{
	text-align:left;
	height:15px;
	padding:5px;
	background-color:#aaaaaa;
	margin: 5px 10px;
	font-weight:700;
}

.form_error_com
{
	color: #FF6347;
	margin-top:5px;
}


.form_success
{
	color: #ADFF2F;
	margin-top:5px;
}

.form_button
{
	border: 2px solid white;
	background-color:gray;
	font-weight:700;
	padding:5px;
	width:500px;	
	margin-top:20px;
	margin-bottom:20px;
}


.form_button:hover
{
	background-color:lightgray;
}

#user_select
{
	height:1;
}

#worker_select
{
	display: block;
}

.selector
{
	height:1;
	padding:5px;
	font-weight:700;
	margin-left:10px;
	margin-right:10px;
	background-color:#dddddd;
}

.form_row
{
	padding:5px;
}

#mode_selector_cont
{
width:808px;
margin-left:auto;
margin-right:auto;
border-right: 2px solid black;
}

.mode_selector_3
{
	width:606px;
	margin-left:auto;
	margin-right:auto;
	border-right: 2px solid black;
	
}

.mode_select
{
	/*display: inline-block;*/
	background-color:#595959;
	color:white;
	border-left: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width:200px;
	float:left;
	padding:5px 0px;
}

.mode_select:hover
{
	background-color: #808080;
	cursor:pointer;
}

/* .mode_select:focus
{
	background-color: #808080;
	border-color:orange;
	cursor:pointer;
} */

#errors_panel
{
	padding:10px;
	margin-top:10px;
}
#Add_form
{
	display: none;
}

#Update_form
{
	display: none;
	/*border: 1px solid white;*/
}

#Delete_form
{
	display: none;
}

#Password_form
{
	display: none;
}

#modul_select_form
{
	padding:20px;
}

#robots_filter{
	display:inline-block;
}

#robots_filterL{
	padding:20px 2px;
	display:inline-block;
}

#robots_filterR{
	padding:20px 2px;
	display:inline-block;
}


.ecp_filter_form{
	display:inline;
}

.form_container{
	/*border: 2px solid white;*/
	background-color: rgba(0, 0, 0, .15);
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	border-radius:20px;
}

#form{
	margin-bottom:50px;

}

.sticky{
	width:100%;
	position: fixed;
	left:0;
	top:0;
	z-index:100;
}
